.exer-6d1 {
  font-family: montserrat;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.exer-6d2 {
  font-family: montserrat;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
}
